(
    axes: {
        "horizontal": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "move_y": Emulated(
            pos: Key(E),
            neg: Key(Q),
        ),
        "vertical": Emulated(
            pos: Key(S),
            neg: Key(W),
        ),
    },
    actions: {

    },
)

